---
http_interactions:
- request:
    method: get
    uri: https://api.nebula.com/Nebula/rest/token/status/NX0000000511
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"Aprobado","codigoAprobacion":"8gaibhi8eOwKi1DqLQwSOg==","empleado":{"noEmpleado":"1","noEmpresa":"1","noCodificacion":"1","nombre":"John
        Doe","localidad":"Localidad 01","curp":"JDOE1"},"descripcion":"Prueba","diagnostico":{"nombre":"DESCONOCIDO","clave":"001"},"tipo":"Consulta
        General"}'
  recorded_at: Sat, 16 Jan 2016 21:57:47 GMT
recorded_with: VCR 3.0.1
