---
http_interactions:
- request:
    method: post
    uri: https://api.nebula.com/Nebula/rest/token/new
    body:
      encoding: UTF-8
      string: '{"tipo":"1","msj":"Prueba","creadoPor":"3","prestadorServicios":"Prueba","diagnostico":"001","empleado":{"curp":"JDOE1","noCodificacion":"1","noEmpleado":"1","noEmpresa":"1","nombre":"John
        Doe","localidad":"Localidad 01"}}'
    headers:
      Authorization:
      - Token eyJhbGciOiJIUzI1NiJ9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"0000000588","creado":1452981467281,"status":"Aprobado","empleado":{"noEmpleado":"1","noEmpresa":"1","noCodificacion":"1","nombre":"John
        Doe","localidad":"Localidad 01","curp":"JDOE1"},"descripcion":"Prueba","codigoValidacion":"/IBqfSt9JaNIDojS5x/6xg==","actualiza":{"alias":"system","name":"System","pass":"ZF5k6~ZV$wM&4Ca''","tipo":1,"strTipo":"SuperUser"},"creadoPor":"3","tipo":"1","fechaAprobacion":1452981467316,"prestadorServicios":"Prueba","diasIncapacidad":0,"diagnostico":{"nombre":"DESCONOCIDO","clave":"001"},"app":"3"}'
  recorded_at: Sat, 16 Jan 2016 21:57:47 GMT
recorded_with: VCR 3.0.1
